@import '../../styles/vars';

.tag {
   padding: 0.6rem 1.2rem;
   color: #000000;
   background: #EEF0F2;
   border-radius: 5rem;
   font-size: 1.4rem;

   &.active {
      color: #ffffff;
      background: $gradient;
   }

   &:last-child {
      margin-left: 1.6rem;
   }
}