@import '../../styles/vars';

.button {
   border-radius: 6px;

   &__transparent {
      background-color: transparent;
      border: 1px solid #FFFFFF;

      &:hover {
         color: #000000;
         background-color: #ffffff;
      }  
   }

   &__full {
      width: 100%;
      background: $gradient;

      &:hover {
         background: $red;
      }
   }

   &.big {
      padding: 1.6rem 3.2rem;
   }

   &.small {
      padding: 1.2rem 0;
   }

   transition: all 0.1s linear;

   &:disabled {
      background-color: #BEC5CC;
   }
}